<html>
  <head>
    <title>Caesar Cipher</title>
      <style>
        body {
          font-size: 24px;
          font-family: sans-serif;
          padding-top: 70px;
          text-align:center;
        }
        input {
          height: 32px;
          text-align: center;
          font-size: 22px;
        }
        .encrypted{
          color: blue;
        }
      </style>
  </head>
  <body>
    <form>
      <p> Enter the text you want to encrypt </p>
      <input type='text' name="text" />
      <p> Enter the encryption code </p>
      <input type='text' name="encryptor"/>
      <p></p>
      <input type='submit' value='Encyrpt!' />
    </form>
    <p class = "encrypted">
      The secret text is <%= encrypted %>
    </p>
  </body>
</html>
